body{
	
	height: 1000px;
	margin:0 0 0 0;
}

table{
	opacity: 0.5;
	margin-right:auto; 
	margin-left:auto;
}
td{
    padding: 40px;
}

#imgg{
	width:200px; 
	height:200px;
	position: center;
	margin-top: 5px;
	}

#topoimg{
	margin-top: 5px;
	width:140px;
	height:100px;
	

}



.ph{
	text-align: center;
	 position: absolute;
	 top:px;
	 left: 250px
     }


#clin{
	position: absolute;
	top:43px;
	font-size: 20px;
	text-align:center;
	left: 270px;

}
#mara{
	font-family: "Arial";
	font-size: 32px;
	text-align:center;

	
}
#s{
	color: blue;
	font-family: "Arial";
	font-size:13px;

}




.icone {
	position: absolute;
	left: 700px;
}
footer{
	margin-top: 300px;
	width: 100%;
	height: 220px;
	background-color:#ddd;
	
}
#logo, #cted, #redes{
	
	width: 400px;
	height: 200px;
	margin: 10px 10px;
	display: inline-block;
	float: left;
	
}
#logo{
	margin-left: 50px;
}
#logoimg{
	width: 100px;
	height: 90px;

}
#eu{
	position: relative;
    left: 100%;
    margin-left: -160px;
    margin-top: 110px;
    width: 70px;
    height: 60px;
}


#cted{
	text-align: center;
	color: purple;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8em;
}
#cted p{
	margin-top: 30px;
}
#cted a{
	margin-top: 30px;
	font-size: 10px;
	text-decoration: none;
	color: purple; 
}
#ic{
	width: 30px;
	height: 30px;
}

